<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.3.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
     http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">


    <context:property-placeholder ignore-unresolvable="true" location="classpath:config/sso.properties" />
    <context:property-placeholder ignore-unresolvable="true" location="classpath:config/config.properties" />
    <tx:annotation-driven/>
    <!-- 自动扫描的包名 -->
    <context:component-scan base-package="cn.demail.myblog">
    </context:component-scan>
    <!-- 默认的注解映射的支持，自动注册DefaultAnnotationHandlerMapping和AnnotationMethodHandlerAdapter -->

    <import resource="classpath:config/spring-mvc-base.xml"/>
    <import resource="classpath:config/spring-mybatis-plus-module.xml"/>
    <!-- 单点登录系统的拦截器，未开放 -->
    <!-- <import resource="classpath:config/spring-sso-client-module.xml"/> -->
</beans>
